.row
  .col-md-4
    %h1 Configurações
.row
  .col-md-4
    = simple_form_for([:admin, @seeting]) do |f|
      = f.input :person_kind, collection: Seeting::kinds
      = f.input :person_name
      = f.input :zipcode
      = f.input :address
      = f.input :neighborhood
      = f.input :state
      = f.input :city
      = f.input :cpf_cnpj
      = f.input :registry_number

      = f.button :submit, class: "btn btn-success"

:javascript
  $("#seeting_zipcode").blur(function(){
    $.get(" /admin/zipcode/find?zip_code=" + $("#seeting_zipcode").val(), function(data){
      $("#seeting_state").val(data["state"]);
      $("#seeting_street").val(data["address"]);
      $("#seeting_city").val(data["city"]);
      $("#seeting_neighborhood").val(data["neighborhood"]);
      $("#seeting_address").val(data["address"]);
    });
  });